{% extends 'base.html' %}
{% block body %}

<div class="conatainer">
    <div class="row">
        <div class="col-md-6">
            <img src="{{series.image.url}}" width="100%" height="100%">
        </div>
        <div class="col-md-6">
                <h2>{{series.name}}</h2>
        <h6>{{series.description}}</h6>
        <h3>{{series.year}}</h3>

        <a class="btn btn-warning" href="{% url 'seriesapp1:update' series.id %}" >update</a>
        <a class="btn btn-danger" href="{% url 'seriesapp1:delete' series.id %}" >delete</a>

        </div>

    </div>
</div>

{% endblock %}